@charset "utf-8";
/* CSS Document */

body  {
    color: black;
	font-family: "Verdana", "sans-serif";
	margin: auto;
	padding: auto;
	display: block;
	width: 97%;
	
}

#wrap  {
	border: 0;
	margin: 0;
	padding: 0;
	width: 80%;
	min-width: 550px;
	max-width:1240px;
	background-image: url("images/Layouts.png");
	background-size: 100%;
	opacity: 0.4;;
}


header{
	border: 2px solid red;
}

.feature {¨
width: 100%;
background-color: yellow;}

feature {
	width: 400px;
  column-count: 3;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-width: 10px;
  colomn-rule-color: yellow;
  column-width: 30px;
  float: left;
  display: block;
  margin-bottom: 20px;
  background: orange;
		}

.hgroup{
	border: 1px solid yellow;
}

#logo{
	
	width: 22%;
	display: inline-block;
	margin: 1% ;
	padding: 1%;
	text-align: center;
}

nav { 
	
	width: 80%;
	margin: 1% 1% 1% 0;
	padding: 1%;
	display: inline-block;
	float: right;
}

nav ul { 
	border: 1px solid purple;
	width: 65%;
	list-style-type: none;
	margin: 1%;
	float: right;
}

nav li { 
	margin: 0 1% ;
	padding: 0 1%;
	float: left;
}

nav li a { 
text-decoration: none;
}

nav ul li a:link{
color:rgb(241, 241, 241);
}

nav ul li a:visited{
	color:rgb(223, 207, 207);
}

nav ul li a:hover{
background-color:red;

}

nav ul li a:active{

	color:yellow;
}

a.highlight:hover{
	background-color:pink;
}



.content{
	border: 1px solid green;
	overflow: auto;
	
}

section {
border: 1px solid brown;
	width: 70%;
	margin: 1% 1% 1% 0;
	padding: 1%;
	display: block;
	overflow: auto;
	float: right;
	
}

p i:first-child {
	background:grey;
}

p:first-child i {
	color:red;
}

p:first-child {
	color:blue;
}

p::first-line {
color:red;
font-variant: historical-forms;
}

h1::first-letter {
	color:black;
	font-size: xx-large;
}

p:: first-letter {
	color: green;
}

aside { 
	border: 1px solid orange;
	width: 22%;
	height: ;
	margin: 1%;
	padding: 1%;
	float: left;
}

aside ul { 
	border: 1px solid purple;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 10%;
	

}

aside  li { 
	margin: 0;
	padding: 0;

}

aside li a { 
	
	
}

aside ul li a:link { 
	color: green;
}

aside ul li a:hover { 
	color: white;
}

aside ul li a:visited { 
	color: rgb(32, 173, 166);
}

aside ul li a:active { 
	color: red;
}


footer{
	border: 2px solid blue;
	padding: 1%;
	clear: both;
}



footer p{
	margin: 0 auto;
	display: block;
	text-align: center;
}

.column {
	border: 1px solid purple;
	width: 45%;
	padding: 1%;
	display: inline-block;
	margin: 1%;
	float: left;
}


h1 {
	font-size: 20px;
}

p { 
	
}






