@charset "utf-8";
/* this is a css document */


        html {
            color: rgb(0, 0, 0);
            background-color: rgb(201, 24, 207);
        }

        
        footer {
            color: rgb(16, 138, 160);
            background-color: rgb(229, 233, 31);
        }

        .pokepuppies {
            font-family: "Brush Script MT"; font-size: 24px; font-style: normal;

        }

 
